@font-face {
  font-family: "Monument Grotesk Mono Light";
  src: url("./fonts/ABCMonumentGroteskMono-Light-Trial.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Monument Grotesk Mono Regular";
  src: url("./fonts/ABCMonumentGroteskMono-Regular-Trial.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Monument Grotesk Mono Thin";
  src: url("./fonts/ABCMonumentGroteskMono-Thin-Trial.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Monument Grotesk Mono Light";
  max-width: 80em;
  margin: 0 auto !important;
}
strong {
  font-family: "Monument Grotesk Mono Regular";
  font-weight: normal;
  font-size: large;
}
dd {
  font-family: "Monument Grotesk Mono Thin";
  font-size: smaller;
}
p {
  margin-block-start: 0;
  font-size: smaller;

}
body {
  padding: 5%;
  background-color: rgb(241, 152, 232);
}
header {
  text-align: center;
}
header > p {
  font-size: medium;
}
footer {
  text-align: center;
  font-size: smaller;
  padding: 4px;
}
dt {
  font-size: regular;
}
h2 {
  margin-block-end: 0;

  font-size: larger;
  text-align: center;
  font-family: "Monument Grotesk Mono Regular";
}
h3 {
  margin-block-end: 0.5em;
}
h2 {
  margin-block-end: 0.5em;
}

main {
  border: 1px dashed black;
  padding: 2em;
  background-color: #ffffff78;
  border-radius: 50px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 8px;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}
li {
  /* Disable numbers for ordered list for blog posts */
  list-style-type: none;
}


