body {
    background-color: #2c3731;
    font-family: sans-serif;
    max-width: 100rem;
    display: block;
    margin: auto;
    padding: 1rem 4rem;
}

img {
    width: 50%;
    float: right;
    max-width: 50rem;
}

h1 {
    color: #d84e8c;
}

a {
    color: #00ffd4;
}

li {
    padding: 5em;
}
ul {
    list-style-type: none;
  }